.cell {
  width: 8vw;
  height: 8vw;
  box-sizing: border-box;
  user-select: none;
  color: lime;
  // background: #fff;
  background: $color__dominant;
  @include immaFlex($align: center, $just: center);

  &--active.cell--selectable {
    &:hover {
      background: green;
      cursor: pointer !important;
    }
  }
  &--active.cell--selectable.Cell--turn-x:hover::before {
    content: 'x';
  }
  &--active.cell--selectable.Cell--turn-o:hover::before {
    content: 'o';
  }
  &--winning {
    background: var(--green);
  }
  &:hover {
    cursor: not-allowed;
  }
}
