%cursor {
  cursor: pointer;
}

%uppercase {
  text-transform: uppercase;
}

%transition {
  transition: 0.25s all;
}

%f-rale {
  font-family: 'Raleway', sans-serif;
}

%f-cursive {
  font-family: 'Handlee', cursive;
}
